<div class="row">
  <div class="col-sm-11">
    <form *ngIf="filters" [formGroup]="trackForm" (ngSubmit)="trackTeam()">
      <select formControlName="conference">
        <option value="">Choose a conference</option>
        <option
          *ngFor="let conference of filters.conferences"
          [value]="conference"
        >
          {{ conference }}ern Conference
        </option>
      </select>

      <select formControlName="division">
        <option value="">Choose a division</option>
        <option *ngFor="let division of filters.divisions" [value]="division">
          {{ division }} Division
        </option>
      </select>

      <select formControlName="teamId">
        <option value="">Choose a name</option>
        <option
          *ngFor="
            let team of filters.teams | teamFilter : fv.conference : fv.division
          "
          [value]="team.id"
        >
          {{ team.full_name }}
        </option>
      </select>

      <button type="submit" class="btn btn-danger btn-lg btn-block">
        Track team
      </button>
    </form>
  </div>
</div>
<div class="select-days-data">
  Show last
  <select name="daysOfData" id="days" (change)="selectDaysToDisplay($event)">
    <option
      *ngFor="let days of daysOfData"
      [value]="days"
      [selected]="days == daysDataStoreService.currentDaysOfData"
    >
      {{ days }}
    </option>
  </select>
  days of data
</div>

<div class="row">
  <app-team-stats
    class="col-sm-4"
    *ngFor="let team of nbaService.getTrackedTeams()"
    [team]="team"
  >
  </app-team-stats>
</div>
